.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
  }
  
  .modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  
  .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
  }
  
  .modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    height:50%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #222;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
  }
  
  .modal-wrapper .modal-window{
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
  }
  
  .modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
  }
  
  .modal-wrapper .modal-close:hover {
    color: #2b2e38 !important
  }

  .modal_button{
    align-items: center;
    text-decoration:none; 
    padding: 0.5em 1.5em;
    width: 100px;
    color: #1eff00;
    font-size: 18px;
    background-color: #111;
    border-radius: 10px;
  }